/* =================== INNOVATION SECTION =================== */
@media only screen and (max-width: 1920px) {
  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-controls {
    padding: 0 calc(12vw + 5px);
  }
}

@media only screen and (max-width: 1440px) {
  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-controls {
    padding: 0 calc(10vw + 5px);
  }
}

@media only screen and (max-width: 1240px) {
  .subtitle {
    width: 100%;
  }
}

/* =================== TECH SECTION =================== */
@media only screen and (max-width: 1200px) {
  .tech-subtitle {
    width: 100%;
  }

  .tech-image img {
    width: 100%;
    height: auto;
  }

  .tech-row {
    flex-direction: column;
    gap: 24px;
  }

  .tech-text,
  .tech-image {
    flex: 1 1 100%;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .green-card-sm {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .green-img {
    width: 100%;
    height: 300px;
    max-width: 300px;
  }

  .green-card-text {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    align-items: center;
  }

  .swiper-wrapper-sm {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 20px;
  }

  .image-card {
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
  }

  .image-card img {
    width: 100%;
    height: auto;
  }

  .swiper-nav-sm {
    bottom: -36px;
    right: 0;
    justify-content: center;
    width: 100%;
  }


}

@media only screen and (max-width: 1024px) {
  .registrarpoup .registrarpopupinner {
    width: 90%;
    height: 80%;
    padding: 25px;
  }

  .registrarpopupinner.qualitydisclampopup {
    height: auto;
  }

  .popup-datamaric {
    margin-top: 20px;
  }

  .topoup-dramticinrow .popup-datamaric {
    width: 48%;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 40px;
    /* overflow: hidden !important; */
  }
}

@media only screen and (max-width: 992px) {
  .inv-card {
    width: 100%;
    height: 300px;
  }

  .modal-content-sm img {
    width: 100%;
  }

  .modal-description {
    flex-direction: row;
    align-items: flex-start;
    font-size: 14px;
  }

  .scheme-wrapper.cgcsr-schemawrpr {
    margin-bottom: 80px;
  }

  .cg-cares-wrapper ul li {
    font-size: 14px;
  }

  .cgcares-tabs {
    overflow: hidden;
    overflow-x: scroll;
  }

  .cgcares-tabs::-webkit-scrollbar {
    display: none;
  }

  .cgcares-tabs .tab {
    min-width: fit-content;
    font-size: 15px;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-controls {
    top: unset;
    padding: 0 4%;
    bottom: -20px;
    align-items: center;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-custom-prev,
  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-custom-next {
    width: 25px;
    height: 20px;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-custom-prev img,
  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-custom-next img {
    width: 100%;
    height: 100%;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-custom-pagination {
    display: flex;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-custom-pagination {
    left: 0 !important;
    margin-top: 16px;
    justify-content: center;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper {
    border-radius: 0;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .slide-card {
    border-radius: 0;
    width: 100%;
    /* height: 200px; */
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .slide-card .slide-overlay {
    display: none;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-slide-active {
    transform: unset !important;
    /* border-radius: 10px;*/
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .slide-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .tech-wrapper-invs {
    margin-bottom: 110px;
  }

  .tech-title {
    font-size: 32px;
  }

  .tech-subtitle {
    font-size: 14px;
  }

  .tech-text {
    font-size: 16px;
  }

  .materiality-title {
    font-size: 28px;
    width: 100%;
  }

  .materiality-desc {
    width: 100%;
    font-size: 15px;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }

  .materiality-footer {
    width: 100%;
  }

  .green-card-sm {
    padding: 15px;
    border-radius: 10px;
  }

  .green-card-text h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .green-card-text p {
    font-size: 14px;
  }

  .green-card-text {
    text-align: left;
    padding: 0;
    display: block;
    padding-top: 10px;
    margin-bottom: -25px;
  }

  .swiper-nav-sm button {
    padding: 5px 10px;
    margin-right: 10px;
  }

  .env-card {
    width: 99%;
  }

  .reports-wrapper {
    margin-top: 20px;
  }

  .contact-table,
  .calendar-table table {
    font-size: 14px;
    width: 100% !important;
  }

  .calendar-table table {
    margin-top: 0;
  }

  .contact-table td,
  .contact-table th,
  .calendar-table td,
  .calendar-table th {
    padding: 10px;
  }

  .calendar-table th {
    font-size: 16px;
  }

  .calendar-table td {
    font-size: 14px;
  }

  .colored-td {
    font-size: 14px;
  }

  .topoup-dramticinrow .popup-datamaric {
    width: 100%;
  }

  .innovation-header h2 {
    font-size: 32px;
  }

  .view-all-link {
    font-size: 16px;
  }

  .modal-description {
    padding: 12px 16px;
  }

  .modal-description img {
    width: 20px;
    height: 20px;
  }

  .modal-description .separator {
    margin: 4px 0;
  }

  .inv-card {
    height: 250px;
  }

  .swiper-nav-sm {
    display: block;
    position: relative;
    z-index: 2;
    bottom: 0;
    left: 38%;
    padding: 0px;
  }

  .view-report img {
    width: 30px;
  }

  .info-row {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .info-link {
    margin-top: 8px;
  }

  .scheme-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .scheme-actions {
    margin-top: 10px;
  }

  .financial-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-actions {
    margin-top: 8px;
  }

  .item-title {
    font-size: 14px;
  }

  .unclaimtable {
    overflow: hidden;
    overflow-x: scroll;
  }

  .unclaimtable::-webkit-scrollbar {
    display: none;
  }

  .contact-table td {
    font-size: 14px;
  }

  .analy-list-sec>.analytics-inter-year {
    margin-bottom: 40px;
  }

  .analy-list-sec.unclaimed-dividers .contact-table th {
    padding: 15px 18px;
    font-size: 16px;
  }

  .analy-list-sec.unclaimed-dividers .contact-table tbody tr td {
    padding: 22px 18px;
    min-width: 300px;
  }

  .analy-list-sec.unclaimed-dividers .contact-table tbody tr td:first-child {
    min-width: 200px;
  }

  .tech-wrapper-invs .tab-section {
    overflow: hidden;
    overflow-x: scroll;
  }

  .tech-wrapper-invs .tab-section .relation-tab {
    padding: 10px 12px 0;
    min-width: fit-content;
  }

  .tech-wrapper-invs .tab-section::-webkit-scrollbar {
    display: none;
  }

  .totablescrollonmob {
    overflow: hidden;
    overflow-x: scroll;
  }

  .totablescrollonmob .contact-table td,
  .totablescrollonmob .contact-table th {
    padding: 10px;
    min-width: 200px;
  }

  .totablescrollonmob.calendar-table td,
  .totablescrollonmob.calendar-table th {
    padding: 10px;
    min-width: 300px;
  }

  .totablescrollonmob .contact-table th:first-child,
  .totablescrollonmob .contact-table td:first-child {
    min-width: 80px;
  }

  .totablescrollonmob::-webkit-scrollbar {
    display: none;
  }

  .financials-wrapper {
    padding: 0;
  }

  /* .tech-wrapper-invs .cust-container{
    padding: 0;
  } */
  .tech-wrapper-invs .tab-content {
    padding-top: 0;
  }

  .tech-wrapper-invs .cust-container .quick-links-heading {
    padding: 0 15px;
  }

  .financial-section-header {
    padding: 18px;
  }

  .financial-section-header>span {
    font-size: 16px;
  }

  .faq-accordion .faq-item {
    padding: 15px 0px;
  }

  .faq-question {
    padding: 0 30px 0 20px;
    font-size: 16px;
  }

  .faq-answer {
    padding: 20px;
    font-size: 14px;
  }

  .faq-question {
    right: 8px;
  }

  .faq-tab-wrapper .faq-tabs .faq-tab {
    padding: 8px 10px;
    width: fit-content;
  }

  .info-regulation-wrapper .info-row .info-title {
    font-size: 16px;
    padding-right: 20px;
  }

  .info-regulation-wrapper .info-row .info-link {
    margin-top: 0;
  }

  .scheme-wrapper .scheme-row .scheme-title>br {
    display: none;
  }

  .info-row .info-title>br {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .placementTabs {
    overflow: hidden;
    overflow-x: scroll;
  }

  .placementTabs::-webkit-scrollbar {
    display: none;
  }

  .placementTabs button {
    min-width: fit-content;
    padding: 10px 15px 0;
  }

  .disclaimer-button {
    width: 100%;
    height: auto;
    padding: 10px 8px;
    text-align: center;
    font-size: 14px;
  }
  .popup-actions{
    gap: 12px;
  }
  .popup-actions button {
    width: 46%;
    padding: 12px 10px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .inv-card {
    height: 160px;
  }

  .modal-close {
    font-size: 20px;
    top: 8px;
    right: 8px;
  }

  .modal-description {
    font-size: 13px;
    gap: 6px;
  }

  .modal-description img {
    width: 18px;
    height: 18px;
  }

  .info-title {
    font-size: 14px;
  }


  .info-know-more {
    font-size: 14px;
  }

  .info-arrow-icon {
    width: 8px;
    height: 8px;
  }

  .scheme-title {
    font-size: 16px;
  }

  .action-link {
    font-size: 14px;
  }

  .action-link img {
    width: 16px;
  }

  .financial-content .year-select {
    padding: 8px 15px;
    font-size: 15px;
  }

  .scheme-row {
    padding: 20px 0;
  }


  .registrarpoup .registrarpopupinner {
    padding: 15px;
  }

  .popup-datamaric {
    padding: 12px;
  }

  .registrarpopupinner .popup-content h3 {
    font-size: 16px;
    margin-top: 35px;
  }

  .popup-datamaric h3 {
    margin-top: 0 !important;
  }

  .tech-wrapper-invs .tab-content p {
    font-size: 14px;
    word-break: break-word;
  }

  .scheme-actions {
    margin-top: 0;
  }

  .financial-section-header>span {
    padding-right: 8px;
  }

  .dropdown-container {
    margin-top: 20px;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .slide-card {
    height: 200px;
  }

  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-custom-prev,
  .manufacturing-swiper-wrapper.cgcsrmarginLR .swiper-custom-next {
    width: 10px;
    height: 20px;
  }

  .tech-wrapper-invs {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 375px) {

  .comon-head-inner h2,
  .comonhead>h5 {
    font-size: 28px;
    line-height: 120%;
  }
}