/* Header css */
@media only screen and (max-width:2600px) {
  .solutionforbusswiper {
    background-size: contain;
    background-position: top right 0px;
  }

  .solution-sliditem .solutin-desc p {
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
}

@media only screen and (max-width:1600px) {
  .solutionforbusswiper {
    background-size: cover;
    background-position: top right -250px;
  }

  .solution-sliditem .solutin-desc p {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

@media only screen and (max-width:1240px) {

  .footer-col.foot-col2,
  .footer-col.foot-col3,
  .footer-col.foot-col4 {
    min-width: 16%;
  }

}

@media only screen and (max-width:1220px) {
   .cust-container {
    max-width: 100%;
    margin: 0 20px;
}
.home-banner-carousl-sec .homeswipernav .swiper-button-next {
    right: 30px;
}
.home-banner-carousl-sec .homeswipernav .swiper-button-prev {
    left: 30px;
}
.solutionforbus-navbar{
      padding: 50px 30px 50px 40px;
}
.solutionforbus-navbar .switchgear-swiper-nav{
  left: 40px;
}
.green-card h4{
  font-size: 18px;
}
}

 

@media (min-width: 1202px) {
  .mobile-submenu {
    display: none !important;
  }

}

@media only screen and (max-width:1201px) {
      .cust-container {
        max-width: 100%;
        margin: 0 auto;
        padding:  0 20px;
    }
  #desktopheader {
    display: none;
  }

  #mobileheader {
    display: block;
  }

  #mobileheader #mainNav {
    margin-top: 20px;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-expand-xl .navbar-toggler {
    display: block;
  }

  .collapse:not(.show) {
    display: none !important;
  }

  .menu-item {
    list-style: none;
    width: 100%;
  }

  .submenu {
    display: none;
    padding-left: 1rem;
    background: #f1f1f1;
  }

  .mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .mobile-menu li {
    position: relative;
  }

  .mobile-menu a {
    display: block;
    padding: 10px 15px;
    background: #f8f9fa;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: #000;
  }

  .mobile-menu .submenu {
    display: none;
    background: #e9ecef;
    padding-left: 10px;
  }

  .mobile-menu .submenu a {
    background: #e9ecef;
  }

  .mobile-menu .submenu .submenu a {
    background: #dee2e6;
    padding-left: 35px;
  }

  .mobile-menu .submenu .submenu .submenu a {
    background: #ced4da;
    padding-left: 45px;
  }

  /* Arrow icon */
  .has-children>a::after {
    content: "";
    background: url(../images/headicn/downarw.png) no-repeat;
    width: 14px;
    height: 14px;
    position: relative;
    top: 8px;
    background-size: 100%;
    float: right;
    font-size: 0.8rem;
    transition: transform 0.3s ease;
  }

  .has-children.open>a::after {
    content: "";
    background: url(../images/headicn/uparw.png) no-repeat;
    width: 14px;
    height: 14px;
    position: relative;
    top: 8px;
    background-size: 100%;
    float: right;
    font-size: 0.8rem;
    transition: transform 0.3s ease;
  }

}

@media only screen and (max-width:1200px) {

  header {
    padding: 0;
    /* overflow: scroll; */
    box-shadow: 0 2px 15px rgb(0 0 0 / 6%);
  }

  header.header-mobile-expanded {
    height: 100vh;
  }

  header .cust-container {
    width: 100%;
    padding: 0;
  }

  header .navbar {
    padding: 14px 15px;
    border-radius: 0;
  }

  .head-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #searchBarContainer {
    top: 0;
    z-index: 9999;
  }

  .head-mob-menusrch-icn {
    display: flex;
    align-items: center;
  }

  .head-mob-menusrch-icn>a {
    padding: 0;
  }

  .head-mob-menusrch-icn>a>span {
    padding: 10px 10px;
    background: #EFEFEF;
    border-radius: 50%;
  }

  .head-mob-menusrch-icn .navbar-toggler {
    background: transparent;
    border: none;
    outline: none;
  }

  .head-mob-menusrch-icn .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url(../images/headicn/closeicn.png);
    background-size: 15px;
  }

  #searchBarContainer form input {
    width: 100%;
  }

  #searchBarContainer form button {
    width: 35%;
    padding: 8px 10px;
    margin: 10px auto;
  }

  #mobileheader {
    height: 73px;
  }

  .inner-comoonbanner {
    margin-top: 73px;
  }

  /* Home page */
  .home-banner-carousl-sec .slide-content .slide-content-desc {
    padding: 30px;
  }

  .highlight-text {
    font-size: 70px;
    line-height: 75px;
  }

  .highlight-section-inner .diagonalbgarw {
    width: 70px;
  }

  .comon-head-inner h2,
  .comonhead>h5 {
    font-size: 42px;
    line-height: 42px;
  }

  .comon-head-inner p {
    line-height: 25px;
  }

  .acrossborder-sec .cust-container {
    padding: 0;
  }

  .acrossborder-inner {
    padding: 0 15px;
  }

  /* End home page */
  .outline-heading {
    font-size: 100px;
  }

  .news-card:first-child .news-icon>a {
    left: 50px;
  }

  .solution-sliditem .solutin-desc h5 {
    font-size: 16px;
  }

  .solution-sliditem .solutin-desc p {
    font-size: 14px;
  }

  .solution-sliditem .solutin-desc a {
    font-size: 14px;
  }
}

/* Header css */
@media only screen and (max-width: 1024px) {
  .ourvalues-sec .values-section .values-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  section.stackcard-sec {
    margin-top: 10px;
  }
  .stackcard-sec .stack-card-item{
    padding-top: 0 !important;
  }
  .stackcard-sec .stack-card-item .card-content{
    box-shadow: 1px 1px 1em 2px #0000001a, 0 1em 1em #e9e5e55e;
  }
   #stack-cards-ul {
    padding-bottom: 0;
    margin-bottom: 0;
  }
    .swiperslider-sec.switchgearslienttestisec{
    margin-top: 30px;
  }
  .swiperslider-sec.comntbmargn {
    margin-bottom: 0;
  }

  /* consumer durable */
  .consumerproduct {
    width: 100% !important;
    flex-direction: row !important;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    justify-content: flex-start !important;
  }

  .tabs-container.consumerproduct ul {
    column-gap: 10px;
    flex-wrap: nowrap;
    justify-content: flex-start !important;
  }

  .tabs-container.consumerproduct ul li {
    min-width: fit-content;
    margin-bottom: 0;
  }

  .consumer-product-container {
    width: 100%;
    max-width: 100%;
    gap: 10px;
    padding-left: 0;
    padding: 0 15px;
  }

  /* End consumer durable */
  .solutionforbusswiper {
    padding-left: 20px !important;
    flex-wrap: wrap;
    flex-direction: column;
    background: url(../images/home/solubg.jpg) no-repeat;
    background-size: cover;
    background-position: top right 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  .switchgr-newprodsec .carousel-wrapper .newprodc-navbar {
        bottom: -40px;
        top: unset;
        justify-content: center;
        align-items: center;
  }
  .switchgr-newprodsec .custom-pagination{
    display: none;
  }
  .switchgr-newprodsec .newprodc-navbar button {
    color: #969696;
    border: 1px solid #969696;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .switchgr-newprodsec .newprodc-navbar button picture{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .switchgr-newprodsec.comntbmargn{
    margin-top: 20px;
  }
  .product-display-tabs {
    padding-top: 40px;
  }

}

@media only screen and (max-width: 992px) {
  .acrossborder-inner>h4 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .news-card .news-title>h4 {
    font-size: 18px;
  }

  .highlight-text {
    font-size: 50px;
    line-height: 65px;
  }

  .comon-head-inner h2,
  .comonhead>h5 {
    font-size: 40px;
    line-height: 42px;
  }

  .news-card:first-child .news-icon>a {
    left: 45px;
  }

  .acrossborer-item>h4 {
    font-size: 44px;
    margin: 0 6px;
  }

  .acrossborer-item>p {
    font-size: 18px;
    line-height: 20px;
  }

  /* solutionsec */
  .comntbmargn {
    margin: 60px 0;
  }

  .acrossborder-sec.comntbmargn {
    margin-top: 30px;
  }

  .solutionforbus-sec .swiper-item-slider {
    display: block;
    padding-left: 15px;
  }

  .solutionforbusswiper .swiper-wrapper,
  .solutionforbusswiper .solutionforbus-navbar {
    width: 100%;
  }

  .solutionforbus-navbar .comon-head-inner.desktop {
    display: none;
  }

  .solutionforbus-sec .solutionforbus-navbar.mobile {
    width: 100%;
    display: block;
    position: relative;
    padding: 20px 15px;
    background: url(../images/home/solu-sectbg.png) no-repeat;
    background-size: cover;
    background-position: top left;
  }

  .solutionforbusswiper {
    width: 100% !important;
  }

  .solutionforbus-navbar {
    width: 100%;
  }

  .solutionforbus-navbar.rmbmob {
    padding: 20px;
    background: none;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .solutionforbus-navbar .switchgear-swiper-nav {
    position: absolute;
    width: 120px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .solutionforbus-navbar .switchgear-swiper-nav {
    position: relative;
  }

  /* end solu sec */
  .stackcard-consumer .stack-card-item .card-content .card-contentdesc {
    width: 100%;
  }

  .stackcard-consumer .card-content .card-contentdesc h4 {
    font-size: 32px;
  }

  .stackcard-consumer .card-content .card-contentdesc p {
    font-size: 20px;
    line-height: 28px;
    width: 100%;
  }

  .acrossborer-globdesc {
    background-size: cover;
  }

  .switchgr-newprodsec .slider-container {
    padding: 0;
  }

  .switchgearslienttestisec {
    position: relative;
  }
  .switchgearslienttestisec::after{
    content: '';
    position: absolute;
    background-image: url(../images/Qotes.svg);
    top: 80px;
    left: 55px;
    width: 140px;
    height: 140px;
    background-size: 100%;
  }
  .switchgear-swiper::after {
    content: none;
  }
  
  .switchgear-swiper {
    padding: 60px 30px 100px 20px  !important;
    background-size: cover;
    background-position: top -60px right 0px;
  }
   .swiper-item-slider{
    width: 75%;
    margin-left: auto;
  }
  .switchgear-swiper .switchgear-swiper-nav{
    left: 25%;
    width: 120px;
    bottom: 25px;
    transform: translate(-50%, -25%);
  }
  
  .testimonial-header img{
    display: none;
  }
  .switchgr-newprodsec .card-slide{
    border-radius: 20px;
  }
  .stack-card-item .card-content{
    border-radius: 25px;
    padding: 15px;
  }
  .switchgr-newprodsec .card-slide .new-prod-img{
    border-radius: 12px;
  }
  .wastemgmt-colone{
    border-radius: 12px;
  }

}

@media only screen and (max-width: 991px) {
  .home-banner-carousl-sec .slide-content h1 {
    font-size: 35px;
  }

  .home-banner-carousl-sec .slide-content hr {
    margin: 1rem auto;
  }

  .home-banner-carousl-sec .slide-content a {
    margin-top: 20px;
  }

  .highlight-text {
    font-size: 60px;
    line-height: 75px;
  }

  .switchgear-swiper::after {
    width: 100px;
    height: 100px;
    left: 0px;
  }
 
  .contacttabs {
    justify-content: flex-start;
  }

  .locitem-card-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .loc-card-desc h4 {
    font-size: 16px;
  }

  .loc-card-desc p {
    font-size: 14px;
  }

  .news-section.cg-inthe-news-sec .news-card {
    width: 48%;
  }

  .ais-circuit-breaker-inner {
    flex-wrap: wrap;
  }

  .ais-circuit-breaker-inner .ais-circuitbreaker-swiper,
  .ais-circuit-breaker-inner .ais-circuit-desc-outer {
    width: 100%;
  }

  .ais-circuitbreaker-swiper .thumbs-slider .swiper-slide {
    height: 150px;
  }

  .ais-circuit-breaker-inner .ais-circuit-desc-outer {
    padding-left: 0;
    margin-top: 40px;
  }

  .ais-circuit-slider,
  .ais-circuitbreaker-swiper .thumbs-slider {
    width: 100%;
  }

  .commcntabui.awmanagmenttabs .nav-tabs .nav-item {
    width: fit-content;
    min-width: fit-content;
    text-align: center;
  }

  .commcntabui.awmanagmenttabs .nav-tabs .nav-link {
    margin-bottom: 2px;
  }

  .wastemgmt-colone {
    width: 40%;
  }
}

@media only screen and (max-width: 900px) {
  .highlight-text {
    font-size: 50px;
    line-height: 65px;
  }

  .highlight-section-inner .diagonalbgarw {
    width: 40px;
  }

  .acrossborder-icntxt .acrossborer-item .acrobor-itemimg>img {
    width: 34px;
  }

  .acrossborer-item>h4 {
    font-size: 34px;
  }

  .acrossborer-item>p {
    font-size: 14px;
    line-height: 18px;
  }

  .acrossborder-icntxt {
    bottom: 100px;
  }

  .acrossborder-icntxt:last-child {
    bottom: 30px;
  }

  .cginnews-sec .news-section {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .news-card:first-child .news-icon>a {
    left: 20px;
  }
}

@media only screen and (max-width: 768px) {

  .home-banner-carousl-sec .homeswipernav {
    display: none;
  }

  /* ====start footer==== */
  .footer-top {
    padding: 40px 10px;
    gap: 16px;
  }

  .footer-col.foot-colpartner {
    margin-top: 10px;
  }

  .foot-colpartner.footdekstop {
    display: none;
  }

  .foot-colpartner.footmobile {
    display: block;
    text-align: center;
  }

  .footer-top .footer-col.logo-col {
    flex-basis: 100%;
    /* text-align: center; */
  }

  /* .social-icons {
    justify-content: center;
  } */

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
    padding: 20px 0;
    text-align: center;
  }

  .footer-bottom-right {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .footer-bottom .footerbottom-inner {
    padding: 0;
    justify-content: center;
  }

  .footer-col.foot-col4 {
    text-align: left;
  }

  .footer-social-row {
    padding: 30px 0;
  }

  .parent-logo {
    margin-left: 0;
  }

  /* ====end footer==== */

  /* ======switchgear css =======*/
  #stack-cards-ul {
    grid-template-rows: repeat(var(--numcards), 545px);
  }

  .card-content .card-contentdesc h4 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .stack-card-item .card-content .card-contentdesc {
    padding: 15px 0;
  }

  .stack-card-item .card-content>figure {
    height: 235px;
  }

  .stack-card-item .card-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "text";
    height: 495px;
  }

  .card-content .card-contentdesc p {
    line-height: 25px;
    margin-bottom: 10px;
  }

  /* ========end switchgear css============ */

  /* home page */
  .acrossborder-inner {
    bottom: -32px;
  }

  .acrossborder-inner>h4 {
    font-size: 42px;
    line-height: 100%;
  }

  .acrossborer-globdesc {
    padding: 60px 0px 40px;
  }

  .acrossborder-icntxt {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0px;
    align-items: center;
  }

  .acrossborer-item.paddlr {
    padding: 0;
    margin-bottom: 0;
  }

  .acrossborer-item p>br {
    display: none;
  }

  .acrossborer-item {
    margin-bottom: 20px !important;
  }

  .news-card:first-child,
  .news-card {
    width: 60%;
  }

  .cgnews-sec-head .dsktop {
    display: none;
  }

  .cgnews-sec-head.mobile {
    display: block;
    margin: 0;
    padding: 25px 0 0 0;
  }

  .solutionforbus-sec.comntbmargn {
    margin-bottom: 20px;
  }

  .green-card {
    flex: unset;
    width: 100%;
  }

  .green-container {
    flex-direction: column;
    text-align: center;
  }

  .green-right {
    text-align: center;
    width: 100%;
    padding-left: 0;
  }

  .green-cards {
    justify-content: center;
  }

  /* end home page */
  /* about us our purpose and value */
  .outline-heading {
    font-size: 60px;
    -webkit-text-stroke: 1.5px #005CAB;
  }

  /* end about us our purpose and value */
  .sectorweserve-inner .grid-item:nth-child(n+5)::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #fff;
    height: 60%;
    right: -2px;
    bottom: 20%;
    transform: translate(-20%, 0);
  }

  .wastemgmt-tab,
  .commcntabui.awmanagmenttabs .nav-tabs {
    overflow: hidden;
    overflow-x: scroll;
  }

  .wastemgmt-colone {
    width: 80%;
    margin-bottom: 25px;
    margin-left: 5px;
  }
  .wastemgmt-tab{
    gap: 20px;
  }

  .wastemgmt-title h5 {
    font-size: 16px;
    line-height: 120%;
  }

  .wastemgmt-img {
    width: 95%;
  }

  .wastemgmt-navbar,
  .wastemgmt-coltwo .wastemgmt-navbar {
    padding: 0 20px;
  }
  .product-display-tabs.certificationtab-sec {
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 767px) {

  /* FOoter dropdown */
  .footer-title {
    cursor: pointer;
    position: relative;
    padding-right: 25px;
  }

  .footer-title::after {
    content: "";
    background: url(../images/headicn/downarw.png) no-repeat;
    width: 14px;
    height: 14px;
    position: relative;
    top: 8px;
    right: -12px;
    background-size: 100%;
    float: right;
    font-size: 0.8rem;
    transition: transform 0.3s ease;
  }

  .footer-title.active::after {
    content: "";
    background: url(../images/headicn/uparw.png) no-repeat;
    width: 14px;
    height: 14px;
    position: relative;
    top: 8px;
    right: -12px;
    background-size: 100%;
    float: right;
    font-size: 0.8rem;
    transition: transform 0.3s ease;
  }

  .footer-links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .footer-links.show {
    max-height: 500px;
    /* Enough to show all links */
  }

  .footer-col.foot-col2,
  .footer-col.foot-col3,
  .footer-col.foot-col4 {
    min-width: 100%;
    border-bottom: 1px solid #cbc8c8;
  }

  .footer-col.foot-col4 {
    border-bottom: none;
  }

  /* End footer dropdown */
  .sectorweserve-inner .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .sectorweserve-inner .grid-item:nth-child(-n+4)::before,
  .sectorweserve-inner .grid-item:nth-child(4n + 1)::after,
  .sectorweserve-inner .grid-item:nth-child(4n + 2)::after,
  .sectorweserve-inner .grid-item:nth-child(4n + 3)::after,
  .sectorweserve-inner .grid-item:nth-child(4n)::after,
  .sectorweserve-inner .grid-item:nth-child(n+5)::before {
    content: none;
  }

  .sectorweserve-inner .grid-item:nth-child(4n) {
    border-right: 1px solid #53535366;
  }

  .sectorweserve-inner .grid-item:nth-child(3n),
  .sectorweserve-inner .grid-item:last-child {
    border-right: none;
  }

  .sectorweserve-inner .grid-item {
    border-bottom: none;
  }

  .sectorweserve-inner .grid {
    row-gap: 30px;
  }

  .sectorweserve-inner .grid-item:nth-last-child(-n + 2) {
    grid-column-end: 2;
  }

  .sectorweserve-inner .grid-item:last-child {
    grid-column-end: 3;
  }
}


@media only screen and (max-width: 576px) {
  .cust-container{
    padding: 0 15px;
  }
  .head-logo a>img {
    width: 85%;
  }

  #menuToggle {
    padding-right: 0;
  }

  .breadcrumb-item+.breadcrumb-item {
    padding-left: .3rem;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    padding-right: .3rem;
  }
  .breadcrumb .breadcrumb-item.truncate a{
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18px;
}

  .highlight-section-inner .diagonalbgarw {
    top: -12px;
    right: 10px;
  }

  .highlight-line {
    flex-wrap: wrap;
  }

  .highlight-text {
    font-size: 60px;
    line-height: 70px;
  }

  .highlight-section-inner {
    align-items: flex-end;
  }

  .solutionforbus-navbar .comon-head-inner>p {
    width: 100%;
  }

  .commonfrst-sec ol.breadcrumb {
    margin-bottom: 40px;
  }

  .comon-head-inner h2 {
    font-size: 40px;
  }

  .comon-head-inner h2,
  .comonhead>h5 {
    font-size: 32px;
    line-height: 120%;
  }

  .cgnews-sec-head{
    margin-bottom: 5px;
  }
  .green-left {
    width: 90%;
  }

  .green-left img {
    width: 100%;
  }

  .card-content .card-contentdesc h4 {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 15px;
  }
  .card-content .card-contentdesc p{
    line-height: 120%;
    margin-bottom: 22px;
  }

  section.stackcard-sec,
  .stack-card-animation {
    margin-top: 0;
  }

  .card-content .card-contentdesc a {
    font-size: 18px;
  }

  .stack-card-item .card-content {
    height: 550px;
  }

  #stack-cards-ul {
    grid-template-rows: repeat(var(--numcards), 600px);
  }

  .swiperslider-sec {
    padding-bottom: 50px;
  }
  
  .swiper-innerslider {
    padding: 0 0 0 15px;
  }

  .swiper-item-slider {
    padding: 0;
  }
  
  .switchgear-swiper {
      width: 100%;
      padding: 35px 30px 120px 20px !important;
      background-size: cover;
      background-position: top -75px right 0px;
  }
      .switchgear-swiper .switchgear-swiper-nav {
        left: 28%;
        width: 120px;
        bottom: 25px;
        transform: translate(-50%, -28%);
    }

  .testimonial-name{
    font-size: 16px;
  }
  .switchgear-swiper .swiper-slide{
    padding: 20px;
  }

  .switchgearslienttestisec::after{
    top: 80px;
    left: 15px;
    width: 70px;
    height: 70px;
  }

  .tabs-container.commcntabui {
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .product-display-tabs {
    margin-bottom: 100px;
  }
  .switchgr-newprodsec .carousel-wrapper .newprodc-navbar{
    bottom: -70px;
  }
  .product-display-tabs{
    margin-top: 60px;
  }
  .product-display-tabs .commcntabui .nav-tabs .nav-item{
    margin-right: 0;
  }

  .commcntabui .download-icncta>button {
    margin-bottom: 25px;
  }

  .subjointabs {
    margin-bottom: 50px;
  }

  .outline-heading {
    font-size: 40px;
    -webkit-text-stroke: 1px #005CAB;
  }

  .edgelogosec {
    width: 200px;
  }

  .news-section.cg-inthe-news-sec {
    margin-bottom: 0;
  }

  .news-section.cg-inthe-news-sec .news-card {
    width: 100%;
  }

  .ais-circuit-breaker-inner{
    margin-top: 0;
  }
      .ais-circuit-breaker-inner .ais-circuit-desc-outer {
        padding-left: 0;
        margin-top: 20px;
    }
  /* pdp page */
  /* .product-display-tabs table, .product-display-tabs thead, .product-display-tabs tbody, .product-display-tabs th, .product-display-tabs td, .product-display-tabs tr {
        display: block;
      }

      .product-display-tabs thead {
        display: none;
      }

      .product-display-tabs tr {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 10px;
      }

      .product-display-tabs td {
        padding: 10px;
        text-align: right;
        position: relative;
      }

      .product-display-tabs td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 60%;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
      } */
  .ais-circuitbreaker-swiper .thumbs-slider .swiper-slide {
    height: 90px;
  }

  /* end pdp page */
  .stackcard-consumer .stack-card-item .card-content {
    height: 300px;
  }

  .stackcard-consumer .card-content .card-contentdesc h4 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .stackcard-consumer .card-content .card-contentdesc p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .stackcard-consumer .card-content {
    justify-content: center;
  }

  .ais-circuit-desc-outer .ais-circuit-desc-inner {
    padding: 20px 5px;
  }

  .ais-circuit-desc-outer .ais-circuit-desc-inner {
    position: relative;
    border-radius: 0;
  }

  .ais-circuit-desc-outer .ais-circuit-desc-inner::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: #f2f9ff;
  }

  .ais-circuit-desc-outer .ais-circuit-desc-inner::before {
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: #f2f9ff;
  }

  .commcntabui .nav-tabs {
    justify-content: space-between;
    width: 100%;
  }

  .commcntabui.tabbotborder .nav-tabs .nav-link {
    font-size: 14px;
    padding: 8px 0px;
    margin-bottom: -5.5px;
  }

  .pdpul ul li,
  .product-display-tabs th,
  .product-display-tabs td {
    font-size: 14px;
  }

  div#pdpdetailTabContent {
    padding-left: 0px;
  }

  .solutionforbusswiper {
    padding: 30px 0 !important;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .solutionforbusswiper .swiper-wrapper {
    padding-left: 20px;
  }

  .acrossborder-sec {
    padding-top: 0px;
  }

  .acrossborder-sec.comntbmargn {
    margin-top: 0;
  }

  .news-card:first-child,
  .news-card {
    width: 70%;
  }

  .news-icon>a {
    width: 35px;
    height: 35px;
  }

  .news-card:first-child .news-icon>a {
    left: 10px;
  }

  .green-card {
    width: 46.5%;
  }

  .green-card .greencardimg>img {
    width: 45px;
    height: 45px;
  }

  .green-card h4 {
    font-size: 15px;
  }

  .green-card a {
    font-size: 14px;
  }

  .blue-highlight {
    margin-right: 0;
  }

  .switchgr-newprodsec .card-slide .new-prod-img,
  .switchgr-newprodsec .card-slide .slide-text {
    width: 100%;
  }

  .switchgr-newprodsec .card-slide .slide-text {
    padding-left: 0;
    padding-top: 10px;
  }

  .switchgr-newprodsec .swiper-slide {
    padding: 15px 0;
  }

  .switchgr-newprodsec .card-slide{
    border-radius: 14px;
  }
  .switchgr-newprodsec .card-slide .new-prod-img {
    border-radius: 12px;
  }
  .switchgr-newprodsec .card-slide{
    padding: 10px 10px 30px 10px;
  }

  .switchgr-newprodsec .slide-text h3 {
    font-size: 20px;
  }

  .switchgr-newprodsec .slide-text p {
    font-size: 14px;
    margin: 0;
    line-height: 120%;
  }

  .highlight-text .mobileshowtxt {
    display: inline-block;
  }

  .highlight-text .desktopshowtxt {
    display: none;
  }
  .infinite-carousel-sec .swiper-slide img{
    width: 80%;
  }
  .swiperslider-sec.comntbmargn {
    margin-bottom: 65px;
  }
   .commonfrst-sec.rdpadmob{
    padding: 40px 0 35px 0;
  }
  .commonfrst-sec{
    padding-top: 40px;
  }
      .comntbmargn {
        margin: 100px 0;
    }
    .commonfrst-sec.mobotpad0{
      padding-bottom: 0px;
    }
}

@media only screen and (max-width: 426px) {
  .home-banner-carousl-sec .slide-content h1 {
    font-size: 32px;
  }

  .home-banner-carousl-sec .slide-content hr {
    width: 80%;
  }

  .home-banner-carousl-sec .slide-content p {
    font-size: 16px;
  }

  .home-banner-carousl-sec .slide-content a {
    margin-top: 75px;
  }

  /* .solutionforbusswiper  .swiper-wrapper .swiper-slide.swiper-slide-prev{
      opacity: 0;
      transition: opacity .3s;
     } */
  .solutionforbus-navbar .switchgear-swiper-nav {
    left: 45%;
  }

  .comon-head-inner h2,
  .comonhead>h5 {
    font-size: 32px;
    line-height: 120%;
  }

  #stack-cards-ul {
    grid-template-rows: repeat(var(--numcards), 620px);
  }

  .stack-card-item .card-content {
    height: 570px;
  }

  .solution-sliditem .solutin-desc .solut-icn {
    right: 15px;
    top: -30px;
    padding: 12px;
  }

  .solution-sliditem .solutin-desc .solut-icn>img {
    width: 25px;
  }
  .highlight-section{
    margin: 100px 0;
  }

  /* sector we serve */

  .sectorsWeSect {
    padding: 50px 0 0px 0;
  }

  .sectorweserve-inner .grid {
    row-gap: 00px;
  }

  .sectorweserve-inner .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .sectorweserve-inner .grid-item {
    border-bottom: 0px solid #53535366;
    border-right: 0px solid #53535366;
  }

  .sectorweserve-inner .grid-item:nth-child(3n) {
    border-right: 0px solid #53535366;
  }

  .sectorweserve-inner .grid-item:nth-child(2n) {
    border-right: none;
  }

  .sectorweserve-inner .grid-item img {
    width: 70px;
  }

  /* .sectorweserve-inner .grid-item:nth-child(2n)::after{
      content: '';
      position: absolute;
      width: 70%;
      background-color: #fff;
      height: 1px;
      right: 0;
      bottom: -1px;
      transform: translate(0, 0);
  }
  .sectorweserve-inner .grid-item:nth-child(2n)::before{
        content: '';
        position: absolute;
        width: 2px;
        background-color: #fff;
        height: 35%;
        left: -1px;
        top: 20%;
        transform: translate(0, 35%);
  }
  
  .sectorweserve-inner .grid-item:nth-child(odd)::before {
        content: '';
        position: absolute;
        width: 70%;
        background-color: #fff;
        height: 1px;
        left: 0;
        top: 100%;
        transform: translate(0, 0px);
    }
     .sectorweserve-inner .grid-item:first-child:after{
        content: '';
        position: absolute;
        width: 1px;
        background-color: #fff;
        height: 50%;
        left: 100%;
        top: 0;
        transform: translate(0, 0);
    }
    .sectorweserve-inner .grid-item:last-child::after{
      content: none;
    }
    .sectorweserve-inner .grid-item:last-child::before{
        content: '';
        position: absolute;
        width: 1px;
        background-color: #fff;
        height: 50%;
        left: -1px;
        bottom: 0;
        transform: translate(0, 0);
    } */

  /* end sector we serve */
  .infinite-carousel-sec .comonhead {
    padding: 0 15px 40px 15px;
  }

  .highlight-text {
    font-size: 56px;
    line-height: 62px;
  }
}

@media only screen and (max-width: 390px) {
  .highlight-text {
    font-size: 52px;
    line-height: 60px;
  }

  .acrossborder-inner>h4 {
    font-size: 38px;
    line-height: 50px;
  }

  .news-card:first-child,
  .news-card {
    width: 80%;
  }

  .commcntabui.tabbotborder .nav-tabs .nav-link {
    font-size: 13px;
  }
}

@media only screen and (max-width: 376px) {
  .home-banner-carousl-sec .slide-content h1 {
    font-size: 28px;
  }

  .home-banner-carousl-sec .slide-content a {
    margin-top: 30px;
  }

  .home-banner-carousl-sec .slide-content a {
    padding: 6px 20px;
    font-size: 14px;
  }

  .highlight-text {
    font-size: 50px;
    line-height: 60px;
  }

  #stack-cards-ul {
    grid-template-rows: repeat(var(--numcards), 650px);
  }

  .stack-card-item .card-content {
    height: 590px;
  }

  .commcntabui.tabbotborder .nav-tabs .nav-link {
    font-size: 12px;
    margin-bottom: -6px;
  }
 
}

@media only screen and (max-width: 360px) {
  .highlight-text {
    font-size: 48px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 346px) {
  .highlight-text {
    font-size: 44px;
    line-height: 58px;
  }

  .green-card h4 {
    font-size: 12px;
  }

  .green-card a {
    font-size: 12px;
  }
}
@media only screen and (max-width:326px) {
      .green-card {
        width: 46%;
    }
}
@media only screen and (max-width:321px) {
  .highlight-text {
    font-size: 40px;
    line-height: 46px;
  }

  .acrossborder-inner>h4 {
    font-size: 34px;
    line-height: 42px;
  }
}