@font-face {
  font-family: "helvetica";
  src: url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

:root {
  --font-family-helvetica: "Helvetica", "Helvetica Neue", "Arial", "Serif";
  /* --font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  */
  --comn-heading-color: #4C4F54;
  --card-bg-skyblu: #005CAB;
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 4em;
  --numcards: 5;
  --outline-width: 0px;
  --greenclr: #7BC143;
}

* {
  font-family: var(--font-family-helvetica);
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  box-shadow: none;
}

button {
  outline: none;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

/* .cust-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
} */
.cust-container {
  max-width: 100%;
  margin: 0 100px 0 100px;
}

.commonfrst-sec {
  padding: 50px 0 40px 0;
  background: url(../images/comonttlbg.png) no-repeat;
  background-size: 80%;
  background-position: top right;
}

.commonfrst-sec ol.breadcrumb {
  background: transparent !important;
  padding: 0 !important;
  margin: 0 0 50px 0;
}

.breadcrumb .breadcrumb-item {
  font-size: 14px;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: '|' !important;
  color: #969696 !important;
  /* margin-right: 10px; */
}

.breadcrumb .breadcrumb-item>a {
  color: #969696;
  font-weight: 300;
  text-decoration: none;
}


.breadcrumb .breadcrumb-item.active {
  font-weight: 500;
  color: #4C4F54;
}

.comonban img {
  width: 100%;
}

.comon-head-inner h2 {
  color: var(--comn-heading-color);
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 100%;
}

.comon-head-inner p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--comn-heading-color);
}

/* Start Card stack on switchgear page*/
section.stackcard-sec {
  margin-top: 50px;
}

.stack-card-animation {
  width: 100%;
  margin: 0;
  position: relative;
  margin-top: -45px;
}

#stack-cards-ul {
  position: relative;
  list-style: none;
  display: grid;
  padding-left: 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), 400px);
  gap: 40px;
  padding-bottom: 100px;
  margin-bottom: 200px;
  /* padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    margin-bottom: var(--card-margin); */
}

.stack-card-item {
  position: sticky;
  top: 80px;
  padding-top: calc(var(--index) * var(--card-top-offset) - 62px);
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.stack-card-item .card-content {
  box-shadow: 7px 0em 1em 2px #0000001a, 0 1em 1em #00000036;
  background: var(--card-bg-skyblu);
  color: #fff;
  border-radius: 30px;
  overflow: hidden;
  display: grid;
  grid-template-areas: "img text";
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: auto;
  align-items: stretch;
  padding: 20px;
  height: 340px;
}

.stack-card-item .card-content .card-contentdesc {
  padding: 15px 15px 15px 30px;
}

.stack-card-item .card-content>figure {
  grid-area: img;
  border-radius: 20px;
  overflow: hidden;
  margin: 0;
}

.stack-card-item .card-content>figure>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content .card-contentdesc {
  color: #fff;
}

.card-content .card-contentdesc h4 {
  font-weight: 700;
  font-size: 30px;
  position: relative;
  padding: 0 0 15px 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.card-content .card-contentdesc h4::after {
  content: '';
  position: absolute;
  background: #fff;
  width: 68px;
  height: 2px;
  bottom: 0;
  left: 0;
}

.card-content .card-contentdesc p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 20px;
  font-weight: 400;
}

.card-content .card-contentdesc a {
  color: #fff;
  transition: .3s;
  text-decoration: none;
  font-weight: 700;
  margin: 0;
  display: inline-block;
  align-items: center;
  font-size: 20px;
  position: relative;
}

.card-content .card-contentdesc a::after {
  /* content: '↗'; */
  content: '';
  background: url(../images/diagonalarw.svg) no-repeat;
  background-size: 100%;
  width: 26px;
  height: 26px;
  position: absolute;
  right: -32px;
  bottom: 0;
}

.card-content .card-contentdesc a:hover {
  transition: .3s;
  color: var(--greenclr);
}

/* news product sec */
.switchgr-newprodsec.comntbmargn {
  margin-bottom: 40px;
}

.switchgr-newprodsec .slider-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0px;
  box-sizing: border-box;
}

.switchgr-newprodsec .swiper-wrapper-custom {
  position: relative;
}

.switchgr-newprodsec .card-slide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: var(--card-bg-skyblu);
  background-image: url(../images/switchgear/newprodbg.png);
  background-size: cover;
  color: white;
  border-radius: 40px;
  padding: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  box-shadow: 9px 8px 7px 5px rgb(137 137 137 / 30%);
}

.switchgr-newprodsec .card-slide .new-prod-img {
  width: 45%;
  border-radius: 32px;
  overflow: hidden;
}

.switchgr-newprodsec .card-slide .slide-text {
  width: 55%;
  padding-left: 30px;
}

.switchgr-newprodsec .swiper-slide {
  padding: 20px;

}

.switchgr-newprodsec .card-slide img {
  width: 100%;
  object-fit: cover;
}

.switchgr-newprodsec .slide-text {
  flex: 1;
  min-width: 200px;
}

.switchgr-newprodsec .slide-text h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.switchgr-newprodsec .slide-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px
}

/* Center navigation arrows vertically */
.switchgr-newprodsec .carousel-wrapper {
  position: relative;
}

.switchgr-newprodsec .carousel-wrapper .newprodc-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 0;
  transform: translate(0, -45%);
}

.switchgr-newprodsec .swiper-button-prev,
.switchgr-newprodsec .swiper-button-next {
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

/* Pagination Dots */
.switchgr-newprodsec .swiper-pagination {
  bottom: 10px !important;
}

.switchgr-newprodsec .custom-nav {
  background: transparent;
  border: none;
  color: #333;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  line-height: 1;
}

.switchgr-newprodsec .custom-nav img {
  width: 20px;
}

.switchgr-newprodsec .custom-nav:hover {
  color: #0066cc;
}

.switchgr-newprodsec .prev {
  margin-right: 10px;
}

.switchgr-newprodsec .next {
  margin-left: 10px;
}

.switchgr-newprodsec .custom-pagination {
  text-align: center;
  margin-top: 10px;
}

.switchgr-newprodsec .custom-pagination .swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
  margin: 0 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.switchgr-newprodsec .custom-pagination .swiper-pagination-bullet-active {
  background: #0066cc;
}

/* end new product sec */
/* end card stack on switchgear page*/


/* swiper slider on switchgear page*/
.swiperslider-sec.comntbmargn {
  margin-bottom: 100px;
}

.addmarginbotm {
  margin-bottom: 100px;
}

.switchgear-swiper {
  position: relative;
  width: 100%;
  /* max-width: 1440px; */
  padding: 100px 0 100px 300px !important;
  background: url(../images/swipbgpd.jpg) no-repeat;
  /* background-size: 68%;
      background-position: top right 0px; */
  background-size: 78%;
  background-position: top right -105px;
}

.switchgear-swiper::after {
  content: '';
  position: absolute;
  background-image: url(../images/Qotes.svg);
  top: 0;
  left: 55px;
  width: 210px;
  height: 210px;
  background-size: 100%;
}

.switchgear-swiper .slider-wrapper {
  display: flex;
  justify-content: flex-end;
}

.switchgear-swiper .swiper-slide {
  background: white;
  border-radius: 12px;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.2);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  height: auto;
}

.switchgear-swiper .swiper-slide.swiper-slide-active,
.switchgear-swiper .swiper-slide.swiper-slide-next {
  opacity: 1;
  transition: opacity .8s;
}

.testimonial-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.testimonial-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: 3px solid #fff; */
  box-shadow: 0 0 0 3px #005CAB4D;
}

.testimonial-name {
  font-weight: 700;
  color: #005CAB;
  font-size: 20px;
}

.testimonial-role {
  color: #969696;
  font-size: 14px;
}

.testimonial-text p {
  font-size: 16px;
  line-height: 120%;
  color: #4C4F54;
  margin: 0;
}


.switchgear-swiper .swiper-button-next,
.switchgear-swiper .swiper-button-prev,
.solutionforbusswiper .swiper-button-next,
.solutionforbusswiper .swiper-button-prev {
  color: #969696;
  border: 1px solid #969696;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchgear-swiper .swiper-button-next::after,
.switchgear-swiper .swiper-button-prev::after,
.solutionforbusswiper .swiper-button-next::after,
.solutionforbusswiper .swiper-button-prev::after {
  font-size: 0px;
}

.swiper-item-slider {
  padding: 20px 0 0px 40px;
  /* background: url(../images/swipbg.jpg) no-repeat;
            background-size: contain;
            background-position: top right 50px; */
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  width: 100%;
}

.switchgear-swiper .switchgear-swiper-nav {
  position: absolute;
  width: 120px;
  bottom: 125px;
  left: 60px;
}

.swiperquot-img {
  position: relative;
  left: 80px;
}

.swiperquot-img>img {
  width: 250px;
}

/* ====swiper slider of waste/water management== */
.product-display-tabs.certificationtab-sec {
  margin-bottom: 100px;
}

.tabs-container.commcntabui.awmanagmenttabs {
  margin-top: 50px;
  margin-bottom: 40px;
}

.product-display-tabs div#pdpdetailTabContent {
  padding-left: 0;
}

.wastemgmt-tab {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  margin-top: 60px;
}

.wastemgmt-colone {
  width: 400px;
  border: 1px solid #DEDEDE;
  border-radius: 30px;
  text-align: center;
  position: relative;
  padding: 20px;
  box-shadow: 0px 4px 7px 3px rgb(137 137 137 / 20%);
}

.wastemgmt-navbar {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  transform: translate(0%, -45%);
  padding: 0 35px;
}

.wastemgmt-navbar button {
  background-color: #ffffff8c;
  border: 1px solid #969696;
  outline: none;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.wastemgmt-navbar button:hover {
  transition: .3s;
  background: #7bc1437a;
  border-color: #7bc1437a;
}

.wastemgmt-navbar button:hover img {
  filter: brightness(0) invert(1);
}

.wastemgmt-navbar button img {
  width: 8px;
}

.wastemgmt-img {
  width: 70%;
  margin: 0 auto;
}

.wastemgmtinner .wastemgmt-img>img {
  width: 100%;
  border: 1px solid #DEDEDE;
}

.wastemgmt-title h5 {
  margin: 20px 0 0 0;
  font-weight: 700;
  color: var(--card-bg-skyblu);
  font-size: 20px;
}

.commcntabui.awmanagmenttabs .nav-tabs {
  gap: 20px;
  flex-wrap: nowrap;
}

.commcntabui.awmanagmenttabs .nav-tabs .nav-link {
  font-size: 16px;
  border: 2px solid #969696;
  color: #969696;
  font-weight: 400;
  border-radius: 30px;
  cursor: pointer;
}

.commcntabui.awmanagmenttabs .nav-tabs .nav-link:hover {
  border: 2px solid #969696;
  color: #969696;
}

.commcntabui.awmanagmenttabs .nav-link.active:hover,
.commcntabui.awmanagmenttabs .nav-link.active {
  border-color: var(--card-bg-skyblu);
  color: var(--card-bg-skyblu);
}

/* .wastemgmt-coltwo .wastemgmt-navbar{
  padding: 0px 54px;
} */
/* ====End swiper slider of waste/water management== */

/* =================End swiper slider on switchgear page ================*/


/* Footer start */
/* General Styling */

.main-footer {
  background: #f5f6f8;
  color: #444;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 5px;
}

.footer-col {
  flex: 1;
  /* min-width: 200px; */
}

.footer-col.logo-col {
  min-width: 32%;
}

.footer-col.foot-col2,
.footer-col.foot-col3,
.footer-col.foot-col4 {
  min-width: 18%;
}

.footer-col.foot-colpartner {
  margin-top: 50px;
}

.foot-colpartner.footmobile {
  display: none;
}

.foot-col4-partlogs.footer-links {
  margin-top: 22px;
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 600;
  color: var(--card-bg-skyblu);
}

.footer-col ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a,
.footcol-addres .footcol-additem>a {
  color: var(--comn-heading-color);
  text-decoration: none;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #0d47a1;
}

.logo-col .logo {
  width: 220px;
  margin-bottom: 24px;
}

.footer-social-row {
  padding: 10px 0 50px;
}

.social-icons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.social-icons a {
  /* width: 42px;
  height: 42px;
  background: #e1e8f3; */
  color: var(--card-bg-skyblu);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  transition: .3s;
}

/* .social-icons a:hover{
  transition: .3s;
  color: var(--card-bg-skyblu);
} */

.parent-logo {
  width: 94px;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 8px;
}

.footcol-addres .footcol-additem {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  font-size: 14px;
  margin-bottom: 20px;
}

.footcol-addres .footcol-additem>img {
  width: 20px;
  position: relative;
  margin-top: 2px;
}

/* Footer Bottom */
.footer-bottom {
  background: var(--card-bg-skyblu);
}

.footer-bottom .footerbottom-inner {
  color: #cfe5ff;
  padding: 14px 80px;
  flex-wrap: wrap;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom p {
  margin: 0;
}


.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.scroll-top {
  width: 40px;
  height: 40px;
  background: #0090e3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
}

/* FOoter end */

/* =========Header css start ==============*/
header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

header #desktopheader .head-logo {
  width: 25%;
}

header #desktopheader .head-menuitems {
  width: 75%;
}

.head-menuitems ul.navbar-nav {
  gap: 14px;
}

header .navbar {
  padding: 0 15px;
  border-radius: 40px;
  background: #ffffff;
  justify-content: space-between;
  z-index: 999;
  box-shadow: 0 2px 15px rgb(0 0 0 / 6%);
}

.head-logo a {
  display: block;
  padding: 0 0 0 5px;
}

.head-logo a>img {
  width: 225px;
}

.dropdown-toggle::after {
  content: none;
}

header .nav-item .nav-link {
  padding: 15px 6px 15px !important;
}

header .nav-item #searchToggle span {
  background: #EFEFEF;
  padding: 10px 12px;
  border-radius: 50%;
}

header .contactheadbtn {
  padding: 10px 20px;
  color: #fff;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--card-bg-skyblu);
  border-color: var(--card-bg-skyblu);
}

.megamenucustom {
  /* left: 74px; */
  left: 6%;
}

#navbarNav .nav-item .nav-link {
  border-bottom: 3px solid transparent;
}

#navbarNav .nav-item .nav-link.dropdown-toggle.active,
#navbarNav .nav-item .nav-link:hover {
  border-color: var(--card-bg-skyblu);
  color: var(--card-bg-skyblu) !important;
}

#navbarNav .nav-item:nth-last-child(-n+2) .nav-link:hover {
  border-color: transparent;
}

.submenu-item.active {
  background-color: var(--card-bg-skyblu);
  font-weight: bold;
  color: #0056b3;
}

.single-dr-inner {
  display: flex;
  align-items: center;
}

.single-dr-inner>img,
.magamenu-inner>img {
  width: 32px;
  height: 32px;
}

.single-dr-inner>span,
.magamenu-inner>span {
  margin-left: 10px;
}

#navbarNav .navbar-nav .nav-item>a {
  color: var(--comn-heading-color);
  font-size: 14px;
  font-weight: 400;
}

#navbarNav .desktopsrchtwh>a {
  cursor: default;
}

#navbarNav .desktopsrchtwh>a>span {
  padding: 10px 10px;
  background: #EFEFEF;
  border-radius: 50%;
  cursor: pointer;
}

#navbarNav .desktopsrchtwh>a>span,
.mobsrchtwh>span {
  position: relative;
}

#navbarNav .desktopsrchtwh>a>span>i::before,
.mobsrchtwh>span>i::before {
  content: '' !important;
  background: url(../images/headicn/searchicn.svg) no-repeat;
  width: 14px;
  height: 14px;
  background-size: 100%;
  position: absolute;
  top: 12px;
  left: 12px;
  transform: translate(0, 0);
}

/* Rotate icon when open */
.accordion-toggle.open::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.accordion-toggle::after {
  transition: transform 0.3s ease;
}

.mega-menu .menu-column:empty {
  display: none !important;
}

.dropdown-menu {
  margin: 0;
}

.single-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.single-dropdown-menu li a,
.mega-menu .menu-column a {
  font-size: 14px;
  color: var(--comn-heading-color);
  font-weight: 400;
  padding: 8px 40px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.single-dropdown-menu li a i,
.mega-menu .menu-column a i {
  position: absolute;
  right: 12px;
  font-size: 10px;
  color: #969696;
}

.mega-menu .menu-column a {
  padding-right: 5px;
  text-decoration: none;
}

.mega-menu .menu-column a i {
  right: 0;
}

#menucolsecnd a {
  padding: 14px;
  padding-left: 5px !important;
}

#menucolsecnd a>span {
  margin: 0;
}

#menucolsecnd .megainner-head>a,
#menucolthrd .megainner-head>a {
  font-weight: 700;
  font-size: 16px;
  color: var(--card-bg-skyblu);
  display: inline-block;
  transition: .3s;
}

#menucolthrd .megainner-head>a {
  padding-left: 5px;
}

#menucolsecnd .megainner-head>a:hover,
#menucolthrd .megainner-head>a:hover {
  color: var(--greenclr);
  transition: .3s;
}

#menucolsecnd .megainner-head>a>img,
#menucolthrd .megainner-head>a>img {
  width: 10px;
  margin-left: 4px;
}

#menucolsecnd .megainner-head>a {
  padding-left: 14px !important;
}

.has-submenu.active>a {
  background: var(--card-bg-skyblu);
  color: #fff;
}

.mega-menu .submenu-item .magamenu-inner {
  display: flex;
  align-items: center;
}

.mega-menu .submenu-item.active .magamenu-inner>span,
.mega-menu .submenu-item.active i {
  color: #fff;
}

.single-dropdown-menu li a:hover,
.single-dropdown-menu li a:hover i,
.single-dropdown-menu li.has-submenu.active .has-submenu a {
  background: var(--card-bg-skyblu);
  color: #fff;
}

.single-dropdown-menu li a:hover img {
  filter: brightness(9000%) contrast(300%) saturate(10%) blur(0px) hue-rotate(200deg);
}

.single-dropdown-menu li.has-submenu.active>a>.single-dr-inner>img,
.mega-menu .submenu-item.active .magamenu-inner>img {
  filter: brightness(9000%) contrast(300%) saturate(10%) blur(0px) hue-rotate(200deg);
}

.single-dropdown-menu li.has-submenu.active a i {
  color: #fff;
}

.navbar-nav .single-dropdown-menu {
  position: static;
  float: none;
  margin: 0;
}

.single-dropdown-menu.show {
  display: block;
}

.singldrdwn-col .dropdown-menu {
  width: fit-content;
}

.singl-drdwn li {
  width: 100%;
}

#searchBarContainer {
  display: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* border-radius: 30px; */
  background-color: #fff;
  padding: 40px 12px 12px 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  top: -25px;
  position: relative;
  z-index: 1;
}

#searchBarContainer form .headsearchclosebtn {
  margin-right: 10px;
}

#searchBarContainer form .headsearchclosebtn span {
  cursor: pointer;
  color: var(--card-bg-skyblu);
  font-weight: 500;
}

#searchBarContainer form input {
  width: 88%;
  border-radius: 30px;
  color: var(--comn-heading-color);
}

#searchBarContainer form button {
  width: 8%;
  padding: 8px 15px;
}

.curvebtn {
  background: var(--card-bg-skyblu);
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
}

/* third level menu dropdown */
.thlev-dropdown-submenu {
  display: none !important;
  transition: all 0.3s ease;
}

.thirdlevel-menu-item.active>.thlev-dropdown-submenu {
  display: block !important;
}

.arrow-icon {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.thirdlevel-menu-item.active>a .arrow-icon {
  transform: rotate(180deg);
  /* Flip arrow up */
}

#menucolthrd .thirdlevel-drop-menu .thirdlevel-menu-item>a {
  display: inline-flex;
  align-items: center;
  padding: 6px 24px 6px 5px;
  font-size: 14px;
  font-weight: 400;
  color: var(--comn-heading-color);
  text-decoration: none;
  transition: .3s;
}

#menucolthrd .thirdlevel-drop-menu .thirdlevel-menu-item>a:hover {
  transition: .3s;
  color: var(--card-bg-skyblu);
  text-decoration: underline;
}

#menucolthrd .thirdlevel-drop-menu ul.thlev-dropdown-submenu {
  list-style-type: none;
}

#menucolthrd .thirdlevel-drop-menu ul.thlev-dropdown-submenu>li>a {
  font-size: 14px;
  color: var(--comn-heading-color);
  padding: 4px 0 2px 25px;
  position: relative;
  transition: .3s;
}

#menucolthrd .thirdlevel-drop-menu ul.thlev-dropdown-submenu>li>a::before {
  content: '';
  position: absolute;
  background-color: var(--comn-heading-color);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 10px;
  top: 12px;
}

#menucolthrd .thirdlevel-drop-menu ul.thlev-dropdown-submenu>li>a:hover {
  transition: .3s;
  color: var(--card-bg-skyblu);
}

/* mobile head */
#mobileheader {
  display: none;
}

.heght100vh {
  height: 100vh;
}

.headsearchbtn {
  color: #fff;
  outline: none;
  border: none;
}


/* third level menu dropdown */
/* Desktop dropdown hover */
@media (min-width: 768px) {
  .navbar-expand-lg .navbar-nav .single-dropdown-menu {
    position: absolute;
    padding: 10px 0;
  }

  .single-dropdown-menu li {
    position: relative;
    padding: 0px 15px;
  }

  .single-dropdown-menu .submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 0;
  }

  .single-dropdown-menu li:hover>.submenu {
    display: block;
  }
}

/* Mobile: accordion behavior */
/* @media (max-width: 767.98px) {
      .single-dropdown-menu .submenu {
        display: none;
        padding-left: 1rem;
      }

      .single-dropdown-menu .open > .submenu {
        display: block;
      }

      .has-submenu > a::after {
        float: right;
        transform: rotate(90deg);
      }

      .has-submenu.open > a::after {
        transform: rotate(270deg);
      }
    } */

/* Hide desktop mega menu on mobile */
/* @media (max-width: 767.98px) {
      .mega-menu.desktop-view {
        display: none !important;
      }

      .mobile-accordion-menu {
        display: block;
        padding: 15px;
        width: 100%;
      }

      .accordion-toggle {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        cursor: pointer;
        font-weight: bold;
      }

      .accordion-toggle.has-content::after {
        content: '\f107';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
      }

      .accordion-content {
        display: none;
        padding-left: 15px;
        margin-bottom: 10px;
      }

      .accordion-content a {
        display: block;
        padding: 5px 0;
        text-decoration: none;
        color: #333;
      }

      .accordion-content a:hover {
        color: #007bff;
      }
      
    } */

/* Desktop Only */
@media (min-width: 768px) {
  .mobile-accordion-menu {
    display: none;
  }

  .dropdown-menu {
    /* width: 920px; */
    width: 88%;
    padding: 0;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    /* overflow: hidden; */
  }

  .dropdown-menu.megamenucustom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
  }

  .mega-menu.desktop-view {
    display: flex;
    flex-wrap: wrap;
  }

  .megamenucustom .menu-column {
    /* border-right: 1px solid #eee; */
    padding: 20px 15px;
  }

  .megamenucustom #menucolfrst {
    width: 30%;
  }

  .megamenucustom #menucolsecnd {
    width: 34%;
  }

  .megamenucustom #menucolfrst,
  .megamenucustom #menucolsecnd {
    background: #fff;
    padding-bottom: 50px;
  }

  .megamenucustom #menucolthrd {
    width: 36%;
    background-color: #eff4f8;
    position: relative;
  }

  .megamenucustom #menucolthrd::after {
    position: absolute;
    content: '';
    background: url(../images/headicn/solution/thirdcolbg.png) no-repeat;
    background-size: 100%;
    width: 110px;
    height: 125px;
    bottom: 10px;
    right: 20px;
  }

  .menu-column:last-child {
    border-right: none;
  }

  .submenu-item {
    cursor: pointer;
    padding: 8px 0;
    display: flex;
    align-items: center;
  }

  .submenu-item i {
    margin-right: 8px;
    width: 20px;
    text-align: center;
  }

  .submenu-item.active,
  .singl-drdwn .has-submenu.active {
    font-weight: bold;
    color: #0056b3;
  }

  .level2-content,
  .level3-content {
    display: none;
  }

  .level2-content.active,
  .level3-content.active {
    display: block;
  }
}

/* Header css end */

/* ==================Home page css===================== */
.home-banner-carousl-sec .swiper {
  width: 100%;
  height: auto;
  position: relative;
}

.home-banner-carousl-sec .swiper-slide {
  position: relative;
  background-size: cover;
  background-position: center;
}

.home-banner-carousl-sec .slide-content {
  position: relative;
}

.home-banner-carousl-sec .slide-content .slide-content-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%;
  padding-top: 80px;
}

.home-banner-carousl-sec .slide-content hr {
  width: 399px;
  border: 1px solid #fff;
  margin: 2rem auto;
}


.home-banner-carousl-sec .slide-content h1 {
  font-size: 45px;
  font-weight: bold;
}

.home-banner-carousl-sec .slide-content p {
  font-size: 20px;
  margin: 15px 0;
}

.home-banner-carousl-sec .slide-content a {
  margin-top: 50px;
  display: inline-block;
  padding: 10px 25px;
  background: #fff;
  border-radius: 10px;
  color: var(--card-bg-skyblu);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.home-banner-carousl-sec .homeswipernav {
  position: absolute;
  top: 60%;
  z-index: 1;
  /* max-width: 1250px; */
  margin: 0 auto;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -60%);
}

.home-banner-carousl-sec .homeswipernav .swiper-button-next,
.home-banner-carousl-sec .homeswipernav .swiper-button-prev {
  background: transparent;
}

.home-banner-carousl-sec .homeswipernav .swiper-button-next::after,
.home-banner-carousl-sec .homeswipernav .swiper-button-prev::after {
  content: none;
}

.home-banner-carousl-sec .homeswipernav .swiper-button-next>img,
.home-banner-carousl-sec .homeswipernav .swiper-button-prev>img {
  width: 18px;
}

.home-banner-carousl-sec .homeswipernav .swiper-button-next {
  right: 100px;
}

.home-banner-carousl-sec .homeswipernav .swiper-button-prev {
  left: 100px;
}

/* Optional: overlay background */
/* .home-banner-carousl-sec .swiper-slide::before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0, 0, 0, 0.45);
      z-index: 1;
    } */

.home-banner-carousl-sec .slide-content {
  z-index: 2;
}

.home-banner-carousl-sec .swiper-pagination {
  position: absolute;
  bottom: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner-carousl-sec .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.home-banner-carousl-sec .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background: var(--greenclr);
}

.home-banner-carousl-sec .swiperlid-img picture img {
  width: 100%;
}


.comntbmargn {
  margin: 80px 0;
}

.highlight-text {
  font-size: 92px;
  line-height: 95px;
  color: var(--comn-heading-color);
  width: 100%;
  font-weight: 300;
}

.highlight-line,
.highlight-section-inner {
  display: flex;
  align-items: center;
}

.highlight-text .mobileshowtxt {
  display: none;
}

.highlight-text .desktopshowtxt {
  display: inline-block;
}

.blue-highlight {
  background-color: var(--card-bg-skyblu);
  color: #fff;
  font-weight: 700;
  padding: 8px 16px 8px 0;
  border-radius: 0 20px 20px 0;
  display: inline-block;
  left: 0;
  margin-right: 10px;
  position: relative;
}

.blue-highlight::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 100%;
  background: var(--card-bg-skyblu);
  left: -400px;
  top: 0;
}

.highlight-section-inner .diagonalbgarw {
  width: 110px;
  height: auto;
  position: relative;
  top: -28px;
}

.highlight-section-inner .diagonalbgarw>img {
  width: 100%;
}

/* Solutions for business slider */
.solutionforbus-sec .swiper-item-slider {
  padding: 0;
}

.solutionforbusswiper {
  display: flex;
  flex-direction: row-reverse;
  width: 60% !important;
  /* padding: 85px 0 50px !important; */
  padding: 85px 0 70px !important;
  background: url(../images/home/bluebg.jpg) no-repeat;
  background-size: cover;
  background-position: top right -240px;
}

.solutionforbusswiper .swiper-wrapper {
  width: 60%;

}

.solutionforbusswiper .solutionforbus-navbar {
  position: relative;
  width: 40%;
  padding: 50px 30px;
  background: url(../images/home/solu-sectbg.png) no-repeat;
  background-size: contain;
  background-color: #fff;
  z-index: 2;
}

.solutionforbusswiper::after {
  content: none;
}

.solutionforbus-navbar .switchgear-swiper-nav {
  position: absolute;
  width: 120px;
  bottom: 20px;
  left: 90px;
}

.solutionforbus-sec .solutionforbus-navbar.mobile {
  display: none;
}

.solutionforbus-navbar .comon-head-inner.desktop {
  display: block;
}

.solution-sliditem {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 12px 14px rgb(0 0 0 / 32%);
}

.solution-sliditem .soluitn-img>img {
  width: 100%;
}

.solution-sliditem .solutin-desc {
  background: #fff;
  position: relative;
  padding: 15px;
}

.solution-sliditem .solutin-desc .solut-icn {
  position: absolute;
  right: 0;
  top: -32px;
  background: #fff;
  padding: 18px;
  border-radius: 50%;
}

.solution-sliditem .solutin-desc .solut-icn>img {
  width: 30px;
}

.solution-sliditem .solutin-desc h5 {
  color: var(--comn-heading-color);
  font-size: 20px;
  font-weight: 700;
}

.solution-sliditem .solutin-desc p {
  color: var(--comn-heading-color);
  font-size: 16px;
  display: -moz-box;
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 2;
  /* fallback */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.solution-sliditem .solutin-desc a {
  color: var(--card-bg-skyblu);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.solution-sliditem .solutin-desc a>img {
  width: 10px;
  margin-left: 5px;
}

.solutionforbus-navbar .comon-head-inner>p {
  width: 85%;
}


/* Across globe */
.acrossborder-sec {
  background: url(../images/home/globebg.png) no-repeat;
  background-size: cover;
  padding: 50px 0 0;
  background-position: top center;
}

.acrossborder-glob picture>img {
  width: 100%;
}

.acrossborder-inner {
  position: relative;
  bottom: -40px;
}

.acrossborder-inner>h4 {
  color: var(--card-bg-skyblu);
  font-size: 7rem;
  line-height: 6rem;
  font-weight: 300;
}

.acrossborder-inner>h4>span {
  font-weight: 700;
  text-transform: uppercase;
}

.acrossborer-globdesc {
  position: relative;
  background: url(../images/home/planet.png) no-repeat;
  background-size: cover;
  padding: 140px 0px 50px;
  background-position: top center;
}

.acrossborder-icntxt {
  /* position: absolute; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 65px;
}

.acrossborer-item.paddlr {
  padding: 0 40px;
  margin-bottom: 45px;
}

.acrossborder-icntxt:last-child {
  justify-content: space-around;
}

.acrossborder-icntxt .acrossborer-item .acrobor-itemimg>img {
  width: 45px;
}

.acrossborer-item {
  color: #fff;
  align-items: center;
}

.acrossborer-item>h4 {
  font-weight: 700;
  font-size: 55px;
  margin: 0 10px;
}

.acrossborer-item>p {
  margin: 0;
  font-size: 20px;
  line-height: 22px;
}

/* CG in the news */
.news-section {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.news-card {
  display: inline-block;
  background: #fff;
  /* border-radius: 16px;
      overflow: hidden; */
  width: 28%;
  flex: 0 0 auto;
  position: relative;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); */
}

.news-image {
  height: 225px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #4c4f542e;
}

.news-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--card-bg-skyblu);
  color: white;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 999px;
}

.news-icon>a {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background: var(--greenclr);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.news-section.cg-inthe-news-sec .news-card:first-child .news-icon>a {
  position: absolute;
  left: unset;
  bottom: 10px;
}

.news-section.cg-inthe-news-sec {
  flex-wrap: wrap;
  row-gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.news-content {
  padding: 1rem 0 0;
}

.news-date {
  font-size: 14px;
  color: var(--comn-heading-color);
  margin-bottom: 10px;
}

.news-card .news-title>h4>a {
  color: var(--comn-heading-color);
  text-decoration: none;
  transition: .3s;
}

.news-card .news-title>h4>a:hover {
  color: var(--card-bg-skyblu);
  transition: .3s;
}

.news-card .news-title>h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: pre-line;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-title>p {
  font-size: 14px;
  margin-bottom: 0px;
  white-space: pre-line;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--comn-heading-color);
}

.news-desc>p {
  font-size: 14px;
  color: var(--comn-heading-color);
}

.news-card:first-child,
.news-card:first-child .news-date {
  color: #fff;
}

.news-card:first-child {
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 3.5px;
}

.news-card.homenews-card-desk {
  display: block;
}

.news-card.homenews-card-mob {
  display: none;
}

.news-section.cg-inthe-news-sec .news-card {
  width: 32%;
  color: var(--comn-heading-color);
}

.news-section.cg-inthe-news-sec .news-card .news-content {
  display: block;
  padding: 1rem 0;
  position: relative;
}

.news-section.cg-inthe-news-sec .news-card .news-content .news-date,
.news-section.cg-inthe-news-sec .news-card .news-content .news-title>h4>a {
  color: var(--comn-heading-color);
}

.news-section.cg-inthe-news-sec .news-card .news-content .news-card:first-child .newsdesc {
  width: 80%;
}

.news-card:first-child .news-icon {
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 25px;
}

.news-card:first-child .news-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
}

.news-card:first-child .news-icon>a {
  position: relative;
  bottom: 0;
  left: 40px;
}

.news-card:first-child .news-title>h4>a {
  color: #fff;
  transition: .3s;
}

.news-card:first-child .news-title>h4>a:hover,
.news-section.cg-inthe-news-sec .news-card .news-content .news-title>h4>a:hover {
  transition: .3s;
  color: var(--card-bg-skyblu);
}

.cgnews-sec-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cgnews-sec-head .comconhead-cta>a {
  font-weight: 700;
  font-size: 18px;
  color: var(--card-bg-skyblu);
  text-decoration: none;
}

.cgnews-sec-head .comconhead-cta>a>img {
  margin-left: 10px;
}

.cgnews-sec-head .dsktop {
  display: block;
}

.cgnews-sec-head.mobile {
  display: none;
}

/* enginerring section */
.enginnering-green-section {
  /* background: linear-gradient(90deg, #E7FFD3, #CEF0B4); */
  background: url(../images/home/homeeneggrenbg2.jpg) no-repeat;
  background-size: cover;
  padding: 40px 0px;
}

.green-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.green-left {
  width: 40%;
}

.green-left img {
  width: 90%;
  height: auto;
}

.green-right {
  width: 60%;
  padding-left: 22px;
}

.green-right p {
  font-size: 16px;
  color: var(--comn-heading-color);
  margin-bottom: 30px;
  line-height: 25px;
}

.green-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.green-card {
  /* flex: 1 1 200px; */
  width: 48%;
  background-color: transparent;
  border: 2px solid var(--greenclr);
  border-radius: 20px;
  padding: 20px 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.green-card:hover {
  background-color: var(--greenclr);
  box-shadow: 0 4px 10px rgba(0, 128, 0, 0.1);
  transition: all 0.3s ease;
  color: #fff;
}

.green-card .greencardimg {
  margin-bottom: 20px;
}

.green-card .greencardimg>img {
  width: 80px;
  height: 80px;
}

.green-card:hover .greencardimg>img,
.green-card:hover a>img {
  filter: brightness(0) invert(1);
}

.green-card h4 {
  color: #7BC143;
  margin-bottom: 10px;
  /* font-size: 18px; */
  font-size: 104%;
  font-weight: 700;
}

.green-card:hover h4,
.green-card:hover a {
  color: #fff;
}

.green-card a {
  text-decoration: none;
  color: #7BC143;
  font-size: 14px;
  font-weight: 600;
}

.green-card a>img {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

/* last carousel */
.comonhead>h5 {
  color: var(--comn-heading-color);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}

.infinite-carousel-sec {
  margin-bottom: 100px;
}

.infinite-carousel-sec .comonhead {
  padding: 0 0 40px 0;
}

.infinite-carousel-sec .swiper-container {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  direction: rtl;
  /* Right to left */
}

.infinite-carousel-sec .swiper-slide {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.infinite-carousel-sec .swiper-slide img {
  width: auto;
  height: 45px;
  object-fit: contain;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.infi-carousel .swiper-wrapper,
.solutionforbusswiper .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.infinite-carousel-sec .infi-carousel {
  position: relative;
}

/* .infinite-carousel-sec .infi-carousel::before{
      content: '';
      position: absolute;
      z-index: 2;
      background:linear-gradient(45deg, white, transparent);
      background: url(../images/home/infibgleft.png) no-repeat;
      background-size: cover;
      left: 0;
      top: 0;
      width: 100px;
      height: 100%;
    }
    .infinite-carousel-sec .infi-carousel::after{
      content: '';
      position: absolute;
      z-index: 2;
      background:linear-gradient(45deg, white, transparent);
      background: url(../images/home/infibgright.png) no-repeat;
      background-size: cover;
      right: -4px;
      top: 0;
      width: 100px;
      height: 100%;
    } */

/* ==================End Home page css===================== */

/* ==================Start Subsidiaries and Joint Ventures===================== */
.subjointabs {
  /* margin-bottom: 100px; */
  margin-bottom: 50px;
}

.tabs-container.commcntabui {
  margin-bottom: 20px;
  align-items: flex-start;
  justify-content: space-between;
  /* padding-bottom: 4px; */
  flex-direction: column;
}

.commcntabui .nav-tabs {
  justify-content: center;
  border-bottom: none;
  margin-bottom: -4px;
  padding-bottom: 8px;
}

.commcntabui .nav-tabs .nav-link {
  font-size: 16px;
  border: none;
  border-top: 2px solid transparent;
  color: var(--comn-heading-color);
  font-weight: 700;
  border-radius: 0;
  cursor: pointer;
}

.commcntabui .nav-item.show .nav-link,
.commcntabui .nav-link.active {
  background-color: #f2f9ec;
  border-top-color: var(--greenclr);
}

.commcntabui .nav-tabs .nav-link img {
  margin-right: 5px;
  width: 32px;
}

.commcntabui .nav-tabs .nav-link:focus,
.commcntabui .nav-tabs .nav-link:hover {
  box-shadow: none;
  outline: none;
}

.commcntabui .nav-tabs .nav-link:hover {
  border-color: transparent;

}

.commcntabui .nav-link.active:hover {
  border-top-color: var(--greenclr);
}

.commcntabui .download-icncta>button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--comn-heading-color);
  transition: .3s;
}

.commcntabui .download-icncta>button:hover {
  color: var(--card-bg-skyblu);
  transition: .3s;
}

.commcntabui .download-icncta>button>img {
  width: 15px;
  margin-right: 8px;
}

.comccontabcontent .company-section {
  padding: 20px 0;
}

.comccontabcontent .company-section .row {
  justify-content: flex-start;
}

.comccontabcontent .company-card {
  border: 1px solid #eee;
  border-radius: 22px;
  padding: 20px;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.comccontabcontent .company-logo {
  height: 180px;
  object-fit: contain;
  margin-bottom: 15px;
}

.company-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--card-bg-skyblu);
}

.comccontabcontent .company-desc {
  flex-grow: 1;
  font-size: 15px;
  color: var(--comn-heading-color);
}

.comccontabcontent .know-more {
  color: var(--card-bg-skyblu);
  font-weight: 700;
  margin-top: 30px;
  text-decoration: none;
  font-size: 14px;
}

.comccontabcontent .know-more>img {
  margin-left: 5px;
  width: 10px;
}

/* ==================End Subsidiaries and Joint Ventures===================== */

/* ==================about-our-purpose-and-value===================== */
.outline-heading {
  font-size: 142px;
  font-weight: 300;
  color: transparent;
  -webkit-text-stroke: 2px var(--card-bg-skyblu);
  letter-spacing: 0;
  margin-bottom: 28px;
}

.ourvalues-sec .values-section {
  padding: 0;
  margin: auto;
  text-align: center;
}

.ourvalues-sec .values-section .values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.ourvalues-sec .values-grid .value-card {
  background: #fff;
  border-radius: 16px;
  padding: 30px 15px 15px 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #96969666;
  transition: all 0.3s ease;
  height: 100%;
}

.ourvalues-sec .values-grid .value-card img {
  height: 110px;
  margin-bottom: 30px;
}

.ourvalues-sec .values-grid .value-card h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--comn-heading-color);
  margin-bottom: 10px;
}

.ourvalues-sec .values-grid .value-card p {
  font-size: 15px;
  font-weight: 400;
  color: #969696;
}

.ourvalues-sec .values-grid .value-card:hover {
  transition: .3s;
  background: var(--card-bg-skyblu);
}

.ourvalues-sec .values-grid .value-card:hover h3,
.ourvalues-sec .values-grid .value-card:hover p {
  color: #fff;
}

.ourvalues-sec .values-grid .value-card:hover img {
  filter: brightness(0) invert(1);
}

.edgelogosec {
  margin: 40px 0 30px 0;
  width: 400px;
}

.edgelogosec>img {
  width: 100%;
}

.values-section.valuesectionredu-card .values-grid {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/* ==================End about-our-purpose-and-value===================== */

/* ==================Sector we serve===================== */
.sectorweserve {
  margin-bottom: 50px;
}

.sectorweserve-inner .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 0;
  border-collapse: collapse;
  position: relative;
}

.sectorweserve-inner .grid-item {
  padding: 40px 10px;
  text-align: center;
  border-right: 1px solid #53535366;
  border-bottom: 1px solid #53535366;
  position: relative;

  /* border-bottom: 1px solid;
      border-image: linear-gradient(to left, #000 50%, transparent 50%) 100% 1; */
}

.sectorweserve-inner .grid-item:nth-child(-n+4)::before {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #fff;
  height: 70%;
  right: -1px;
  top: 0px;
}

.sectorweserve-inner .grid-item:nth-child(4n)::before {
  content: none;
}

.sectorweserve-inner .grid-item:nth-child(4n)::after {
  content: '';
  position: absolute;
  width: 75%;
  background-color: #fff;
  height: 1px;
  right: 0;
  bottom: -1px;
}

.sectorweserve-inner .grid-item:nth-child(4n + 1)::after {
  content: '';
  position: absolute;
  width: 75%;
  background-color: #fff;
  height: 1px;
  left: 0;
  bottom: -1px;
}

.sectorweserve-inner .grid-item:nth-child(4n + 2)::after,
.sectorweserve-inner .grid-item:nth-child(4n + 3)::after {
  content: '';
  position: absolute;
  width: 50%;
  background-color: #fff;
  height: 1px;
  left: 50%;
  bottom: -1px;
  transform: translate(-50%, 0);
}

.sectorweserve-inner .grid-item[style*="grid-row: 2"]>* {
  color: blue;
}

.sectorweserve-inner .grid-item:nth-child(n+5)::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #fff;
  height: 40%;
  right: -2px;
  bottom: 30%;
  transform: translate(-30%, 0);
}

.sectorweserve-inner .grid-item:nth-last-child(-n + 2)::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #fff;
  height: 70%;
  right: -2px;
  bottom: 0;
  transform: translate(0, 0);
}

.sectorweserve-inner .grid-item:nth-last-child(-n + 2)::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #53535366;
  height: 30%;
  left: -1px;
  top: 0;
  transform: translate(0, 0);
}

.sectorweserve-inner .grid-item:last-child::after {
  content: none;
}

.sectorweserve-inner .grid-item:nth-child(4n) {
  border-right: none;
}

.sectorweserve-inner .grid-item:nth-last-child(-n + 2) {
  border-bottom: none;
  /* Remove bottom border on last row */
}

.sectorweserve-inner .grid-item:nth-last-child(-n + 2) {
  grid-column-end: 3;
}

.sectorweserve-inner .grid-item:last-child {
  grid-column-end: 4;
}

.sectorweserve-inner .grid-item img {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}

.sectorweserve-inner .grid-item span {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  color: var(--comn-heading-color);
}

/* ==================End Sector we serve===================== */


/* ==================Product display page========================= */
.ais-circuit-breaker-inner {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.ais-circuit-breaker-inner .ais-circuitbreaker-swiper {
  width: 45%;
  position: relative;
}

.ais-circuit-breaker-inner .ais-circuit-desc-outer {
  width: 55%;
  padding-left: 100px;
}

.ais-circuit-slider,
.ais-circuitbreaker-swiper .thumbs-slider {
  width: 80%;
  margin: 0 auto;
}

.ais-navbar {
  position: absolute;
  top: 30%;
  transform: translate(0, 0);
  width: 100%;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.ais-circuit-slider .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.ais-circuitbreaker-swiper .thumbs-slider {
  padding-bottom: 10px;
  margin-top: 20px;
}

.ais-circuitbreaker-swiper .thumbs-slider .swiper-slide {
  width: 130px;
  height: 86px;
  padding: 4px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #DEDEDE;
  transition: all 0.3s ease;
}

.ais-circuitbreaker-swiper .thumbs-slider .swiper-slide-thumb-active {
  border-color: var(--greenclr);
}

.ais-circuitbreaker-swiper .thumbs-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.ais-navbar .swiper-button-prev,
.ais-navbar .swiper-button-next {
  background-color: var(--greenclr);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  top: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
}

.ais-circuit-desc-outer .ais-circuit-desc-inner {
  padding: 30px 24px;
  background: #EFF8FFCC;
  border-radius: 20px;
}

.ais-circuit-desc-inner>p {
  color: var(--comn-heading-color);
  font-size: 16px;
}

.pdpul ul {
  padding-left: 20px;
}

.pdpul ul li {
  font-size: 15px;
  color: var(--comn-heading-color);
  margin-bottom: 10px;
}

.product-display-tabs {
  padding-top: 20px;
  margin-bottom: 50px;
}

.product-display-tabs.product-detail-multtab {
  margin-bottom: 100px;
}

.product-display-tabs .table-wrapper {
  max-width: 910px;
  margin-left: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow-x: auto;
}

.product-display-tabs table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.product-display-tabs thead {
  background-color: #005ca9;
  color: #fff;
}

.product-display-tabs th,
.product-display-tabs td {
  padding: 18px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-weight: 100;
  font-size: 15px;
  color: var(--comn-heading-color);
}

.product-display-tabs th {
  color: #fff;
}

.product-display-tabs th:first-child,
.product-display-tabs td:first-child {
  width: 50%;
  padding-left: 50px;
}

.product-display-tabs th:nth-child(2),
.product-display-tabs td:nth-child(2) {
  text-align: center;
}

.product-display-tabs th:nth-child(2),
.product-display-tabs td:nth-child(2),
.product-display-tabs td:nth-child(3) {
  width: 25%;
}

div#pdpdetailTabContent {
  padding-left: 15px;
}

.tabs-container.tabbotborder {
  border-bottom: 2px solid #d5d5d5;
}

.commcntabui.tabbotborder .nav-tabs .nav-link {
  font-size: 16px;
  border: none;
  border-bottom: 4px solid transparent;
  color: #969696;
  font-weight: 500;
  border-radius: 0;
  transition: .3s;
  margin-bottom: -6px;
  position: relative;
  flex: 1;
  text-align: center;
  background: none;
  padding: 12px 16px;
  transition: color 0.3s ease;
}

.commcntabui.tabbotborder .nav-item.show .nav-link,
.commcntabui.tabbotborder .nav-link.active {
  background-color: transparent;
  border-bottom-color: var(--greenclr);
  transition: .3s;
  color: var(--comn-heading-color);
}

.ais-circuitbreaker-swiper .swiper-button-prev:after,
.ais-circuitbreaker-swiper .swiper-button-next:after {
  font-size: 16px !important;
}

/* ==================End Product display page===================== */

/* ==================Consumer durable page===================== */

.home-banner-carousl-sec.consumer-durable-sec .slide-content a {
  margin-top: 20px;
}

.home-banner-carousl-sec.consumer-durable-sec .slide-content .slide-content-desc {
  padding-top: 30px;
}

.home-banner-carousl-sec.consumer-durable-sec .homeswipernav {
  top: 55%;
  transform: translate(-50%, -55%);
}

.tabs-container.consumerproduct {
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  border-bottom: none;
}

.tabs-container.consumerproduct ul {
  column-gap: 50px;
}

.tabs-container.consumerproduct .nav-item .nav-link>img {
  display: block;
  margin: 0 auto 10px auto;
}

.stackcard-consumer .stack-card-item .card-content {
  height: 400px;
}

.consumerproduct-cntnt .tab-pane.active {
  background-color: #F0F0F0;
  padding: 50px 0;
}

.consumer-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
  max-width: 80%;
  margin: 0 auto;
  padding-left: 40px;
}

.consumer-product-item {
  flex: 1 1 160px;
  max-width: 160px;
}

.consumer-product-item h4 {
  margin: 0 0 10px;
  color: var(--card-bg-skyblu);
  font-weight: 700;
  font-size: 16px;
}

.consumer-product-item a {
  display: block;
  margin: 4px 0;
  color: var(--comn-heading-color);
  text-decoration: none;
  font-size: 14px;
}

.tbspac {
  margin: 50px 0 0px 0;
}

.stackcard-consumer .stack-card-item {
  padding-top: 0;
  top: 100px;
}

.stackcard-consumer #stack-cards-ul {
  grid-template-rows: auto;
  margin-bottom: 0;
}

.stackcard-consumer .card-content {
  background-repeat: no-repeat;
  background-size: cover !important;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.stackcard-consumer .card-content .card-contentdesc h4 {
  font-size: 40px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.stackcard-consumer .card-content .card-contentdesc h4::after {
  content: none;
}

.stackcard-consumer .card-content .card-contentdesc p {
  font-size: 28px;
  line-height: 120%;
  width: 60%;
  font-weight: 300;
  margin-bottom: 50px;
}

.stackcard-consumer .card-content .card-contentdesc a {
  background-color: var(--card-bg-skyblu);
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 8px;
}

.stackcard-consumer .card-content .card-contentdesc a::after {
  content: none;
}

.stackcard-consumer .card-content .card-contentdesc a:hover {
  color: #fff;
}

.stackcard-consumer .stack-card-item .card-content .card-contentdesc {
  width: 70%;
}

/* ==================End consumer durable page===================== */

/* ==================Drives and automation page========================= */
.why-choose-danda-sec {
  padding-top: 10px;
}

.why-choose-danda-sec .comon-head-inner h2 {
  font-size: 36px;
  margin: 0;
}

.driveauto-combg {
  position: relative;
  background: url(../images/driveandautom/secbg.jpg) no-repeat;
  background-size: 100% 205px;
  background-position: bottom;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.whychssoe-auto-items {
  margin-top: 40px;
}

.whychssoe-auto-items .esgSolution-sliditem .soluitn-img>img {
  width: 100px;
}

.whychssoe-auto-items .esgSolution-sliditem {
  height: 310px;
  padding: 40px 30px 50px 30px;
  text-align: center;
}

.whychssoe-auto-items .esgSolution-sliditem .soluitn-img {
  margin-bottom: 20px;
}

.whychssoe-auto-items-desc h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-family-helvetica);
  line-height: 120%;
  color: var(--comn-heading-color);
}

.whychssoe-auto-items-desc p {
  font-family: var(--font-family-helvetica);
  color: #969696;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.tohidescrollbaronmobile::-webkit-scrollbar {
  display: none;
}

.var-freq-inner,
.var-freq-left .varfreq-items {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.varfrq-drivesec .comon-head-inner h2 {
  color: #005CAB;
}

.var-freq-left .varfreq-items {
  margin-top: 40px;
  gap: 20px;
}

.varfreq-items .var-freq-item {
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 32%;
  padding: 42px 20px;
  border-radius: 20px;
  border: 1px solid #96969666;
  box-shadow: 2px 2px 10px 5px #96969626;
  position: relative;
  z-index: 2;
  background: #ffffff;
  text-align: center;
}

.varfreq-items .var-freq-item>img {
  width: 80px;
  margin: 0 auto;
}

.varfreq-items .var-freq-item>p {
  color: var(--comn-heading-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 25px;
}

.var-freq-left {
  width: 60%;
}

.var-freq-right {
  padding-left: 6%;
  width: 40%;
  height: 400px;
}

.var-freq-right .varfreq-img {
  border-radius: 18px;
  overflow: hidden;
}

.var-freq-right .varfreq-img {
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.var-freq-right .varfreq-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.varfreq-cta {
  margin-top: 50px;
  text-align: center;

}

.varfreq-cta a {
  display: inline-block;
  padding: 15px 24px;
  background: #fff;
  border-radius: 10px;
  color: var(--card-bg-skyblu);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

/* ==================End Drives and automation page===================== */